 *{
    margin: 0;
    padding: 0;
    outline: none;
    /* border: none; */
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: whitesmoke;
  } 
  .container{
    display:flex;
  }
  .side-bar{
    width: 15.2%;
  }
  nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: hsl(0, 59%, 20%);
    /* width: 280px; */
    overflow: initial;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 12px;
    display: table;
    width: 280px;
    padding: 10px;
    font-weight:300;
    padding-bottom: 10%;
  }
  .nav-item{
    position: relative;
    top: 5px;
    margin-left: 10px;
    color: #ffffff;
  }
  a:hover{
    background-color: hsl(0, 87%, 40%);
    width: 205px;
  }
  /*Styling for right sidebar begins*/
  .right-sidebar{
    padding: 2em 5em;
    width: 83%;
    outline: #000000;
  }
  h1{
    font-size: 1.5rem;
  }
  .heading-left h1{
    margin-bottom: -2.7em;
  }
  .heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .btn1{
    width: 6em;
    height: 2.5em;
    border-radius: 0.5em;
    background-color: silver;
    border: 1px solid rgb(161, 161, 161)
  }
  .btn2{
    width: 8em;
    height: 2.5em;
    border-radius: 0.5em;
    background-color: hsl(0, 87%, 40%);
    color: #ffffff;
    border: none;
  }
  .search{
    margin-bottom: 2em;
  }
  .search-feild{
    width: 100%;
    line-height: 2rem;
    border-radius: 0.5em;
  }
  .search img{
    position: absolute;
    left: 14.5em;
    top: 7em;
  }
  .row1{
    display: flex;
    justify-content: space-between;
  }
  .row-content input{
    width: 280px;
    line-height: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
  }
  .lower-content input{
    width: 25%;
    line-height: 1.8rem;
    border-radius: 0.5em;
    box-shadow:0px 5px 5px 0px #ddd;
    /* margin-top: 10px; */
  }
  .lower-content img{
    position: absolute;
    left: 525px;
    top: 785px;
  }
  .lowerpane{
    margin-bottom: 5em;
  }
  .active{
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 0.1em;
  }
  .correct{
    display: flex;
  }
  .correct img{
    margin-right: 1rem;
  }
  .para1{
    margin-left: -9em;
  }
  .add{
    float: right;
    margin-top: 40px;
  } 
  .add input{
    width: 8em;
    height: 2.5em;
    border-radius: 0.5em;
    background-color: hsl(0, 87%, 40%);
    color: #ffffff;
    border: none;
  }
  
  
  

  
  