*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: whitesmoke;
}
.container{
  display:flex;
}
.side-bar{
  width: 15%;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: maroon;
  width: 280px;
  overflow: initial;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 12px;
  display: table;
  width: 280px;
  padding: 10px;
  font-weight:300;
  padding-bottom: 10%;
}
.nav-item{
  position: relative;
  top: 5px;
  margin-left: 10px;
  color: #ffffff;
}
a:hover{
  background-color: hsl(0, 87%, 40%);
  width: 115px;
}

/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 85%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-analytics{
  display: flex;
  margin-top: 20px;
  background-color: maroon;
  cursor: pointer;
}
.main-analytics .card{
  width: 12%;
  margin: 20px;
  background: #ffffff;
  text-align: center;
  border-radius: 50px;
  padding: 18px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 12px; 
}
.main-analytics .card1{
  width: 12%;
  margin: 20px;
  background: #B3ACAC;
  text-align: center;
  border-radius: 50px;
  padding: 18px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  
}
.main-analytics .card2{
  width: 12%;
  margin: 20px;
  background: hsl(0, 87%, 40%);
  text-align: center;
  border-radius: 50px;
  padding: 18px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 12px;
  
}
.main-analytics .card3{
  width: 15%;
  margin: 20px;
  background: whitesmoke;
  text-align: center;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #000;
}
.main-analytics .card4{
  width: 15%;
  margin: 20px;
  background: silver;
  text-align: center;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 12px; 
}
.main-analytics .card5{
  width: 15%;
  margin: 20px;
  background: #e8c3b9;
  text-align: center;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  font-size: 12px; 
}

/* .main-analytics .card .card1 .card2 .card3 .card4 .card5 h3{
  margin: 12px;
  text-transform: capitalize;
} */
.main-analytics .card .card1 .card2 .card3 .card4 .card5 h2{
  font-size: 12px;
}

.chartbox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  min-height: 350px;
  background-color: #B3ACAC;
  cursor: pointer;
}
.chartbox .box{
  position: relative;
  background: whitesmoke;
  padding: 10px;
  width: 80%;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .side-bar{
    width: 15%;
  }
  a{
    width: 200px;
  }

  a:hover{
    width: 205px;
}
.chartbox{
  width: 150%;
}
.main-analytics{
  width: 150%;
}
 
}

@media screen and (min-width: 1024px){
  .chartbox{
    width: 100%;
  }
  .main-analytics{
    width: 100%;
  }
   
}

