html {
    height: 100vh;
}

body{
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
    
}

.logo {
    width: 200px;
    height: 60px;
    padding: 20px;
}

h1{
    color: hsl(0, 87%, 40%);
    font-weight: bold;
    padding: 0 80px;
    font-size: 22px;
}

.btn {
    padding: 10px;
    margin-top: 120px;
    width: 25%;
    color: white;
    background-color: hsl(0, 87%, 40%);
    border: none;
    border-radius: 7px;
    margin-left: 38%;
    font-size: 16px;
}

.btn:hover{
    background-color: hsl(0, 0%, 10%);
    transition: 0.2s ease-in;
}

@media screen  and (min-width: 768px){
    .btn{
        width: 15%;
        padding: 15px;
        margin-left: 43%;
    }
    h1{
        font-size: 40px;
    }   
}
@media screen  and (min-width: 1024px){
    .btn{
        width: 7%;
        padding: 12px;
        margin-top: 80px;
    }
    h1{
        width: 50%;
    }   
}


