*{
    margin: 0;
    padding: 0;
    outline: none;
    /* border: none; */
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: whitesmoke;
  }
  .content{
    display:flex;
  }

.side-bar{
    width: 15%;
}
  nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: maroon;
    width: 280px;
    overflow: initial;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 12px;
    display: table;
    width: 280px;
    padding: 10px;
    font-weight:300;
    padding-bottom: 10%;
  }
  .nav-item{
  position: relative;
  top: 5px;
  margin-left: 10px;
  color: #ffffff;
}
  a:hover{
    background:  hsl(0, 87%, 40%);
    width: 115px;
  }
  .container{
    width: 85%;
    height:100%;    
} 
.head{
    text-align: center;
}
 h1{
    margin-top: 50px;
    margin-bottom: 60px;
    justify-content: center;
}
p{
    margin-bottom: 60px;
    color: black;
}

input{
    width: 10rem;
    height: 2em;
}

.item {
    width: 20vw;
    height: 1.6rem;
    margin: 10px 0;
   }
   
.form-container label{
    color: black;
    margin-bottom: 50px;
}
.form-container{
    width: 50%;  
     
} 
.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;      
}

.btn{
    color: white;
    background-color: hsl(0, 87%, 40%);
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    border: none;
    font-size: 6px;
}

@media screen and (min-width:768px) {
    .side-bar{
        width: 15%;
    }
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 110%;
    height:100%;   
}  
.form-container input{
    padding-bottom: 10px;
    width: 90%;
    border-radius: 3px;
    color: black;
    margin-bottom: 3px;
    margin-top: 4px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid gray;   
    }
    
.form-container{
    width: 60%;   
    } 
.btn{
    width: 24%;
    font-size: 8px;
    }
}

@media screen and (min-width:1024px){
    .side-bar{
        width: 18.7%;
    }
    a{
        font-size: 12px;
    }
    a:hover{
        width: 205px;
    }
    .container{
        margin-right: 150px;
    }
    .btn{
        width: 21%;
        font-size: 10px;
    }
    .nav-items{
        margin-left: 20px;
    }
    .form-container input{
        padding-bottom: 10px;
        width: 180px;
        height: 27px;
    }

    .item {
        width: 13vw;
        height: 1.6rem;
        margin: 10px 0;
       }
}
@media screen and (min-width:1115px){
    .side-bar{
        width: 15%;
    }
    .btn{
        width: 12%;
        font-size: 11px;
    }
}

